.resultsContainer {
	width: fit-content;
	margin: 10vh auto;
	padding: 3vh 3vw 3vh 2.5vh;
	background-color: #282c34;
	border-radius: 6px;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.resultsContainer.error {
	padding: 3vh 4vw 3vh 4vh;
}

.results {
	display: grid;
	color: #f4f3ee;
	/* margin: 10vh auto; */
	justify-items: center;
	font-size: 2.4rem;
}

.errorMessage {
	text-align: center;
	white-space: normal;
}

@media only screen and (max-width: 40.63em) {
	.resultsContainer {
		width: 100%;
		border-radius: 0;
		padding: 3vh 0;
	}

	.results {
		display: block;
		margin: 0 auto;
		width: 35rem;
	}
}

@media only screen and (max-width: 26.88em) {
	.results {
		width: 38rem;
	}
}

@media only screen and (max-width: 23.75em) {
	.results {
		width: 38rem;
		margin-left: -1.5rem;
	}
}

@media only screen and (max-width: 22em) {
	.results {
		width: 38rem;
		margin-left: -2.8rem;
	}
}
